<div class="panel panel-default panel-body">
    <div class="page-header" ng-if="!isMobile">
        <div class="row">
            <div class="col-xs-4" style="text-align: center">
                <img src="/static/img/icon.png" class="img-responsive" style="width:128px; display:inline">
            </div>
            <div class="col-xs-8">
                <h2>MoodDiary<br><small i18n="common.about_hsmall">Welcome to the Ups and Downs</small></h2>
            </div>
        </div>
    </div>
    <div ng-if="isMobile" class="about-header">
        <img src="/static/img/icon.png" class="img-responsive" style="width:64px; display:inline">
        <h4>MoodDiary</h4>
    </div>
    <button ng-hide="loggedIn" class="btn btn-info btn-block visible-xs" ui-sref="register" i18n="common.join_now"></button>
    <button ng-hide="loggedIn" class="btn btn-info hidden-xs" ui-sref="register" i18n="common.join_now"></button>
    <h4 i18n="common.about_h1"></h4>
    <p i18n="common.about_p1"></p>
    <h4 i18n="common.about_h2"></h4>
    <p i18n="common.about_p2"></p>
    <h4 i18n="common.about_h3"></h4>
    <p i18n="common.about_p3"></p>
</div>
