{% raw %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-10">
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-class="{active: $state.includes('diary.list')}"><a ui-sref="diary.list"><i class="fa fa-list"></i> <span i18n="diary.list"></span></a></li>
                    <li role="presentation" ng-class="{active: $state.includes('diary.table')}" class="hidden-xs"><a ui-sref="diary.table"><i class="fa fa-table"></i> <span i18n="diary.table"></span></a></li>
                    <li role="presentation" ng-class="{active: $state.includes('diary.chart')}"><a ui-sref="diary.chart"><i class="fa fa-line-chart"></i> <span i18n="diary.chart"></span></a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <a class="btn btn btn-primary pull-right hidden-xs" ng-click="showEntryAddContainer()" ng-hide="entryAdding || entryAddedToday"><i class="fa fa-file-text-o"></i> <span i18n="diary.add_entry"></span></a>
                <a class="btn btn btn-primary pull-right visible-xs" style="padding: 10px 12px;" ng-click="showEntryAddContainer()" ng-hide="entryAdding || entryAddedToday"><i class="fa fa-file-text-o"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-body" ng-show="entryAdding" id="AddEntry">
    <form class="form">
        <legend>
            <span i18n="diary.add_entry"></span> <small>{{ newEntry.date | date : 'dd.MM' }}</small> <span ng-show="entrySaving"><i style="color: #444;" class="fa fa-spinner fa-pulse"></i></span>
        </legend>
        <div class="form-group">
            <label class="control-label"><i class="fa fa-calendar"></i><span i18n="common.date"></span></label>
            <input type="text" class="form-control" ng-model="newEntry.date" data-timezone="UTC" data-use-native="true" data-date-format="dd.MM.yyyy" data-date-type="date" data-min-date="02/10/86" data-max-date="today" data-autoclose="1" name="date" i18n-attr="{placeholder: 'common.date'}" bs-datepicker>
        </div>
        <div class="row" ng-repeat="row in (fields.length/2 | array)">
            <div class="col-md-6" ng-repeat="field in fields.slice(2*$index, 2*$index + 2)">
                <div class="form-group" ng-switch="field.type">
                    <label ng-style="field.colorStyleInput">{{ field.name }}</label>
                    <textarea ng-class="{'input-color': me.use_colors}" ng-style="field.colorStyleBorder" ng-switch-when="1" class="form-control" placeholder="{{ field.name }}" ng-model="newEntryAnswers[field.id]"></textarea>
                    <div class="input-group" ng-switch-when="2">
                        <div class="input-group-addon" ng-class="{'input-group-color': me.use_colors}" ng-style="field.colorStyleBorder">{{ newEntryAnswers[field.id] }}</div>
                        <input ng-class="{'input-color': me.use_colors}" ng-style="field.colorStyleBorder" class="form-control" type="range" min="0" max="10" placeholder="{{ field.name }}" ng-model="newEntryAnswers[field.id]" ng-init="newEntryAnswers[field.id] = 0">
                    </div>
                    <input ng-class="{'input-color': me.use_colors}" ng-style="field.colorStyleBorder" ng-switch-when="3" class="form-control" type="number" min="0" placeholder="{{ field.name }}" ng-model="newEntryAnswers[field.id]">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" ng-click="addEntry()" i18n="common.add"></button>
    </form>
</div>

<div ui-view></div>

{% endraw %}
