{% raw %}
<div class="panel panel-default panel-body">
    <button class="btn btn-lg btn-link visible-xs pull-right" style="margin-top: 0.5em;" data-toggle="collapse" data-target="#fieldListToggle" aria-controls="fieldListToggle"><i class="fa fa-bars"></i></button>
    <h5 i18n="diary.select_fields"></h5>
    <div id="fieldListToggle" class="collapse in">
        <div class="row" ng-repeat="row in (fields.length/4 | array)">
            <div class="col-sm-3 col-xs-12" ng-repeat="field in fields.slice(4*$index, 4*$index + 4)">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-change="reloadList()" ng-model="activeFields[field.id]"> <strong>{{ field.name }}</strong> {{ field.type | fieldTypeToString }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div infinite-scroll="loadMore()" infinite-scroll-immediate-check="false" infinite-scroll-distance="1" infinite-scroll-disabled="stopScroll">
    <div class="panel panel-default panel-body" ng-repeat="entry in entries = (me.entries | orderBy: 'date' : true | limitTo: listLimit)">
        <div class="row" ng-if="!edittingEntry[entry.id]"><!-- Entry normal mode -->
            <div class="col-md-2 col-xs-12">
                <button class="btn btn-lg btn-link visible-xs pull-right" style="margin-top: 1em;" ng-click="toggleEntry(entry)"><i class="fa fa-bars"></i></button>
                <h4><span class="label label-primary">{{ entry.date | date: 'EEEE' }}</span></h4>
                <h4 style="margin-bottom: 0"><small>{{ entry.date | date: 'MMMM d, y'}}</small></h4>
                <button class="btn btn-lg btn-link" ng-click="editEntry(entry)" ng-hide="entryHidden[entry.id]"><i class="fa fa-pencil-square-o"></i></button>
                <button class="btn btn-lg btn-link" ng-click="deleteEntry(entry)" ng-hide="entryHidden[entry.id]"><i class="fa fa-times"></i></button>
            </div>
            <div class="col-md-10 col-xs-12" ng-hide="entryHidden[entry.id]">
                <div class="row row-border-bottom" ng-repeat="row in (activeFieldsList.length/2 | array)">
                    <div class="col-md-6" ng-repeat="field in activeFieldsList.slice(2*$index, 2*$index + 2)">
                        <h5>{{ field.name }}</h5>
                        <div style="font-size: 16pt" ng-if="entry.answersSorted[field.id].content">
                            <p ng-show="field.type == 1">{{ entry.answersSorted[field.id].content }}</p>
                            <div ng-show="field.type == 2">
                                <div class="progress pull-right" style="width:75%;margin-top:1em;">
                                    <div class="progress-bar" ng-style="getProgressBarStyle(entry, field)"></div>
                                </div>
                                <div class="number-square" ng-style="field.colorStyle">{{ entry.answersSorted[field.id].content }}</div>
                            </div>
                            <div ng-show="field.type == 3" class="number-square" ng-style="field.colorStyle">
                                {{ entry.answersSorted[field.id].content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="edittingEntry[entry.id]"><!-- Entry edit mode -->
            <div class="col-md-2 col-xs-12">
                <div class="form-group">
                    <label class="control-label"><i class="fa fa-calendar"></i> <span i18n="common.date"></span></label>
                    <input disabled type="text" class="form-control spaced-bottom" ng-model="entry.date" data-date-format="yyyy-MM-dd" data-date-type="date" data-min-date="02/10/86" data-max-date="today" data-autoclose="0" name="date" i18n-attr="{placeholder: 'common.date'}" bs-datepicker>
                    <a class="btn btn-sm btn-primary" ng-click="saveEntry(entry)" i18n="common.save"></a>
                    <h4 ng-show="saving" class="text-center"><i style="color: #444;" class="fa fa-spinner fa-pulse"></i></h4>
                </div>
            </div>
            <div class="col-md-10 col-xs-12" ng-hide="entryHidden[entry.id]">
                <div class="row row-border-bottom" ng-repeat="row in (activeFieldsList.length/2 | array)">
                    <div class="col-md-6" ng-repeat="field in activeFieldsList.slice(2*$index, 2*$index + 2)" ng-init="editField[entry.id][field.id] = false">
                        <h5>{{ field.name }}</h5>
                        <div class="spaced-bottom">
                            <div class="form-group" ng-switch="field.type">
                                <textarea ng-switch-when="1" class="form-control" placeholder="{{ field.name }}" ng-model="entry.answersSorted[field.id].content"></textarea>
                                <div class="input-group" ng-switch-when="2">
                                    <div class="input-group-addon">{{ entry.answersSorted[field.id].content }}</div>
                                    <input class="form-control" type="range" min="0" max="10" placeholder="{{ field.name }}" ng-model="entry.answersSorted[field.id].content">
                                </div>
                                <input ng-switch-when="3" class="form-control" type="number" min="0" placeholder="{{ field.name }}" ng-model="entry.answersSorted[field.id].content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel panel-default panel-body" ng-show="entries.length == 0">
    <p i18n="diary.no_entries"></p>
</div>
<h4 ng-hide="stopScroll" class="text-center"><i style="color: #444;" class="fa fa-spinner fa-pulse"></i></h4>
{% endraw %}

{%if config.get('DEBUG') %}
<div class="panel panel-default panel-body" style="position:fixed;top:10px;left:10px;width:360px;">
{% raw %}
    <a class="btn btn-default btn-link" ng-click="showDebug = !showDebug" ng-init="showDebug = false">Show debug info</a>
    <div ng-show="showDebug">
        <p>listLimit: {{ listLimit }}</p>
        <p>entries.length: {{ entries.length }}</p>
        <p>me.entries.length: {{ me.entries.length }}</p>
        <p>reloadCount: {{ reloadCount }}</p>
        <p>args:</p>
        <pre>{{ args | json }}</pre>
    </div>
</div>

{% endraw %}
{% endif %}
