{% raw %}
<div class="panel panel-default panel-body">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form" novalidate>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" name="username" class="form-control" ng-model="emailRegister" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password" i18n="common.password"></label>
                    <input name="password" type="password" class="form-control" ng-model="passwordRegister" i18n-attr="{placeholder: 'common.password'}">
                </div>
                <div class="form-group">
                    <label for="password2" i18n="common.password_repeat"></label>
                    <input name="password2" type="password" class="form-control" ng-model="password2Register" i18n-attr="{placeholder: 'common.password_repeat'}">
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ errorMessage }}
                </div>
                <div class="info-text spaced-bottom" i18n="common.cookie_policy"></div>
                <div class="form-group">
                    <div grecaptcha ng-model="captcha" class="spaced-bottom"></div>
                    <button class="btn btn-lg btn-primary" ng-click="register()" i18n="common.register"></button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endraw %}
